<p>こんにちは <%= @resource.name %>さん!</p>

<p>パスワード再設定のご案内になります。下記のリンクよりパスワードの再設定を完了してください。</p>

<p><%= link_to 'パスワード再設定用リンク', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし本メールに見覚えのない場合は恐れ入りますが、本メールの廃棄をして下さい</p>