<% if rooms.present? %>
<% rooms.each do |room| %>
  <% if room.user_rooms.where.not(user_id: current_user.id).first.present? %>
  <% other_user = room.user_rooms.where.not(user_id: current_user.id).first.user %>
    <% if room.chats.present? %>
    <% latest_chat = room.chats.last %>
        <% chat = latest_chat.chat_deletes.find_by(user_id: current_user.id) %>
          <% if chat.nil? %>
          <div style="display:flex;">
            <%= link_to chat_path(other_user.id) do %>
            <div class="mt-3"><%= other_user.name %><br />
              <%= latest_chat.message %>
               <i class="fas fa-sms" style="font-size:20px;"></i>
            </div>
            <% end %>
          <div class="mt-4" style="margin-left:auto;">
            <%= link_to "削除", chats_exit_path(id: latest_chat.room.id), "data-confirm" => '本当に削除しますか？', class: 'btn btn-sm btn-danger' %>
          </div>
          </div>
          <% end %>
    <% end %>
  <% end %>

<% end %>
<% end %>