/*global $*/
<<<<<<< HEAD
$('#mymessage').append("<tr><th><p style='text-align: left;'><%= @chat.message %></p></th><th></th><tr>");
=======
$('#message').append("<p style='text-align: left;'><%= @chat.message %></p>");
>>>>>>> development
$('input[type=text]').val("");