/*global $*/
if ('<%= @chat.message %>' != ""){
$('#message').append("<p style='text-align: left; font-size: 12px; color:white; font-weight:bold;'><%= @chat.message %>&emsp;<a data-confirm='送信を取り消しますか？' data-method='delete' href='<%= @chat.id %>'><i style='color:white;' class='far fa-trash-alt' aria-hidden='true'></i></a></p>");
$('input[type=text]').val("");
}