 <div class="mypage">
  <%= render 'user/users/sidebar', user: @user %>
  <main>
    <div class="row chat-index">
      <div class="col-md-4">
       <h3>チャット一覧</h3>
        <div style="border-bottom:solid;">
         <%= current_user.name %>
         </div>
         <%= render 'user/chats/index', rooms: @rooms, chat: @chat , class: 'mt-5'%>
      </div>
      <div class="col-md-8">
        <h1><i class="fas fa-envelope" style="text-align:center;"></i></h1>
        <h2>メッセージ</h2>
        <span>Barのreviewを書いた人にメッセージを送信できます。</span>
      </div>

    </div>
    </main>
  </div>