<div class=mypage>
  <%= render 'user/users/sidebar', user: @user %>
<main class="bookmarks">
    <h3>お気に入りレビュー</h3>
  <div class="row">
    <div class="col-md-3">
      <% @favorites.each do |favorite| %>
        <%= favorite.review.user.name %>
        <%= link_to favorite.review.post, shop_path(favorite.review.shop) %>
      <% end %>
    </div>
  </div>
</main>
</div>