<% if user_signed_in? %>
  <% if shop.bookmarked_by?(current_user) %>
    <p class="bookmark"><span>ブックマーク削除：</span><%= link_to shop_bookmarks_path(shop_id: shop.id), remote: true, method: :delete, class: "bookmark" do %>★</p>
       <% end %>
  <% else %>
    <p class="bookmark"><span>ブックマーク追加：</span><%= link_to shop_bookmarks_path(shop_id: shop.id), remote: true, method: :post, class: "bookmark" do %>☆</p>
      <% end %>
  <% end %>
<% end %>
