<% unless @bookmarks == [] %>
  <% @bookmarks.each do |bookmark| %>
    <%= attachment_image_tag bookmark.shop, :image, size: '100x100' %>
    <%= link_to bookmark.shop.name, shop_path(bookmark.shop.id) %>
  <% end %>
<% else %>
<p>まだブックマークはありません。</p>
<% end %>