<% unless @bookmarks == [] %>
  <% @bookmarks.each do |bookmark| %>
    <% bookmark.shop.shop_pictures.each do |shop_picture| %>
    <%= attachment_image_tag bookmark.shop.shop_picture, :image, size: '100x100' %>
    <% end %>
    <%= link_to bookmark.shop.name, shop_path(bookmark.shop.id) %>
  <% end %>
<% else %>
<p>まだブックマークはありません。</p>
<% end %>