<h5><%= @contact.user.name %>様から問い合わせがありました。</h5>
<p>------------------------------------------------------------</p>

<p>問い合わせ元メール: <%= @contact.user.email %></p>
<p>問い合わせタイトル: <%= @contact.title %></p>
<p>問い合わせ内容：<%= @contact.message %></p>

<p>------------------------------------------------------------</p>