 <table class="table ml-3 myreview-list">
    <tr>
        <td>投稿したレビュー</td><td class="profile-left"><i class="fas fa-flag"></i><%= current_user.reviews.count %>件</td>
    </tr>
    <tr>
        <td>ツイートのお気に入り獲得数</td><td class="profile-left"><i class="fas fa-flag"></i>
            <% favorites_count = 0 %>
            <% @tweets.each do |tweet| %>
              <% favorites_count += tweet.favorites.count %>
            <% end %>
            <%= favorites_count %>件
        </td>
    </tr>
    <tr>
        <td>ブックマークした店舗</td><td class="profile-left"><i class="fas fa-flag"></i><%= current_user.bookmarks.count %>件</td>
    </tr>
    <tr>
        <td>チャットした人数</td><td class="profile-left"><i class="fas fa-flag"></i><%= current_user.rooms.count %>件</td>
    </tr>
  </table>