<% @users.each do |user| %>
    <% user.reviews.each do |review| %>
       <% if current_user != review.user %>
     <div id="relationships_buttons_<%= review.user.id %>">
      <%= review.user.name %>
      <%= render partial: 'user/relationships/relationship', locals: {review: review} %>
    </div>
      <% end %>
  <% end %>
<% end %>