<% @users.each do |user| %>
  <% unless current_user == user %>
    <% user.reviews.each do |review| %>
     <span id="relationships_buttons_<%= review.user.id %>">
      <%= render partial: 'user/relationships/relationship', locals: {review: review, i: 3} %>
    </span>
    <% end %>
  <% end %>
<% end %>