<div class="top-main">
  <div id="main-visual">
    <p class="title">
      Bar<br />Research
    </p>
        <div class="search">
          <%= render 'user/shops/search', shop: @shop %>
          <%= link_to 'オーナーの方はこちらへ', owner_homes_top_path, class: 'btn btn-warning mt-5', style: "color: white;"%>
        </div>
  </div>
</div>
</div>
<div class="container">
   <%= render 'user/shops/genre' %>
</div>