// Place all the styles related to the user::chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-index{
  background-color: #555555;
  border-radius: 20px;
  padding: 15px;
}

@media screen and (max-width: 600px){
.page-top{
  margin-top: 50px;
}
.chat-res{
  margin-top: 30px;
  text-align: center;
}
.chat-message{
  text-align: center;
}
.chat-index{
  width: 90%;
  margin: 0 auto !important;
}

}
