// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-main{
      background-image: image-url('bar-top.jpg');
      height: 600px;
      background-size: cover;
      background-position: 55% 25%;
      margin-left: 0;
}
.container{
  margin: 0;
}
#main-visual {
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
}
.search {
    padding-top: 10px;
    padding-left: 550px;
}
.submit {
    background-color: #87CEFA;
}
.fa-search{
    color: white;
}
.title {
      font-family: 'Monotype Corsiva';
      margin-top: 50px;
      padding-left: 550px;
      display        : inline-block;
      color          : white;            /* 文字の色 */
      font-size      : 70pt;               /* 文字のサイズ */
      letter-spacing : 4px;                /* 文字間 */
      text-shadow    :
       2px  2px 1px black,
      -2px  2px 1px black,
       2px -2px 1px black,
      -2px -2px 1px black,
       2px  0px 1px black,
       0px  2px 1px black,
      -2px  0px 1px black,
       0px -2px 1px black;
}
.user-top{
    font-size: 30px;
    text-align: center;
}
.user-icon{
    font-size: 45px;
    text-align: center;
}
.top-letter{
    font-size: 20px;
    text-align: center;
}


.mypage{
  display: flex;
  min-height: 100vh;
}
main{
  // flex: 1;
  width: 700px;
  margin: 0 auto;
}
aside{
  width: 15%;
  min-width: 50px;
  display: flex;
  flex-direction: column;
}
ul li{
  text-align: left;
  list-style: none;
}

aside{
  font-size: 30px;
  font-family: 'Monotype Corsiva';
}
.mysidebar > a{
  color:#A2CA36;
}

.sidefotter{
  height: 300px;
  margin-top: 150px;
}


.profile{
  font-size: 20px;
  display: inline-block;
  width: 40%;
  font-weigh: bold;

}

.table{
  width: 60%;
  display: flex-end;
}
.table tr{
  border-bottom: solid;
}

.mine{
  display: flex;
  font-size: 20px;
  font-family: 'Monotype Corsiva';
  width: 600px;
  background-color: #DDDDDD;
  color: black;
  padding: 30px;
  border-radius: 40px;
}
.mine a{
  color: black;
}
.myprofile{
  color:#A2CA36;
  font-size: 35px;
  font-family: 'Monotype Corsiva';
  margin: 0 auto;
  margin-right: auto;
  display: block;
  text-align: left;
}

.siteform{
  margin-right: 100px;
  background-color: #DDDDDD;
  color: black;
  border-radius: 20px;
  padding: 15px;
}
.siteform > form{
  padding-left: 20px;
}
#sp-menu{
    display: none;
}


@media screen and (max-width: 375px){

  #sp-menu{
    position: absolute;
  　top: 0;
    left: -40%;
    width: 40%;
    height: 100vh;
    background: #ffffff;
    transition: .7s;
  }
  #sp-menu ul{
    padding-top: 80px;
  }
  #sp-menu ul li{
    list-style-type: none;
    font-size: 20px;
  }
  #sp-menu a{
    display: block;
    text-decoration: none;
    color: #000000;
    margin: 0 15px;
    padding: 10px;
    transition: .5s;
  }
  #sp-menu li a:hover{
    color: #ffffff;
    background: #cd5c5c;
    border-bottom: none;
  }
  #hamburger {
  display: block;
  position: absolute;
  top: 20px;
  left: 30px;
  width: 50px;
  height: 44px;
  cursor: pointer;
  transition: 1s;
  }
  .inner_line {
  display: block;
  position: absolute;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: #ffffff;
  transition: 1s;
  border-radius: 4px;
  }
  #line1 {
    top: 0;
  }
  #line2 {
    top: 20px;
  }
  #line3 {
    bottom: 0px;
  }
  .in{
  transform: translateX(100%);
  }
  .line_1,.line_2,.line_3{
    background: #000000;
  }
  .line_1 {
    transform: rotate(-45deg);
    top: 0;
  }
  .line_2 {
    opacity: 0;
  }
  .line_3 {
    transform: rotate(45deg);
    bottom: 0;
  }

}

body:before {
  display: none;
}

