// Place all the styles related to the user::plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calender{
  width: 85%;
  background-color: white;
}
.calendar-heading{
  color: black;
}
.calendar-heading a{
  color: black;
}