// Place all the styles related to the user::plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple-calendar > table{
  color: white !important;
}
.calendar{
  width: 85%;
}

.modal1{
  border-radius: 10px;
  position: absolute;
  border: 1px solid #000000;
  background-color: #fff;
  color: black;
  padding: 5px;
  margin: auto;
  width: 25%;
  top: 1100px;
  left: 120px;
  right: 0;
  z-index: 2;
}
.overlay{
  display: none;
  position: fixed;
  width: 100%;
  height: 120%;
  background-color: #000000;
  opacity: 0.65;
  top: 0;
  left: 0;
  z-index: 1;
}

.calendar-show{
  font-weight: bold;
  color: #777777;
}
.calendar-small{
  margin-left: 40px;
}

@media screen and (max-width: 600px){
 .calendar-form{
   display: block !important;
 }
 .calendar-small{
  margin-left: 0 !important;
 }
 .calendar-all{
   text-align: center;
   width: 90%;
   margin: 0 auto;
 }
 .calendar-formall{
   text-align: center !important;
   width: 70% !important;
   margin: 0 auto;
 }
 .calendarform2{
   width: 80% !important;
 }
 .calendarform3{
   margin-right: 35px;
 }
 .modal1{
  border-radius: 10px;
  position: absolute;
  border: 1px solid #000000;
  background-color: #fff;
  color: black;
  padding: 5px;
  margin: auto;
  width: 50% !important;
  top: 1200px !important;
  left: 50px !important;
  right: 0;
  z-index: 2;
}

}