// Place all the styles related to the user::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rating-box .ratings .fa{
  font-size: 30px;
  color: yellow;
  cursor: pointer;
}

.main-rating{
  display: flex;
}
.rating-value-display{
  font-size: 20px;
}

.review-form{
  margin: 0px 200px 20px 15px;
  padding: 20px;
  color: black;
}
.review-title{
  margin-top: 20px;
  padding-left: 20px;
}
.review-form > #review_post{
  height: 20px;
}
.review-view{
  color: black;
  padding: 15px;
  margin: 15px;
  margin-right: auto;
  border-bottom: 1px solid black;
}
.owner-review-view{
  color: white;
  padding: 15px;
  margin: 15px;
  margin-right: auto;
  border-bottom: 1px solid white;

}

.new-review{
 width: 80%;
 margin-top: 10px;
 margin-right: 69px;
 margin-left: 69px;
}