
<div class="top-ownermain">
  <div id="main-visual">
    <p class="title">
      Owner<br />Personal site
    </p>
  </div>
</div>
</div>
<div class="container">
  <div class="effect-fade">
     <p class="mt-5 user-top">店舗オーナーの皆様へ</p>
     <div style="text-align: center;">Bar Researchを一緒に盛り上げませんか？</div>
  </div>
     <div class="row">
     <div class="col-lg-4 effect-fade">
      <div class="user-icon"><i class="fas fa-glass-cheers"></i></div>
      <div class="top-letter mb-2">複数店舗の登録が可能</div>
      <div>1人のオーナー様で複数店舗登録が可能です。全ての店舗を簡単登録で一括管理ができます。</div>
     </div>
     <div class="col-lg-4 effect-fade">
       <div class="user-icon"><i class="fas fa-crown"></i></div>
       <div class="top-letter mb-2">ランキング形式</div>
       <div>口コミの点数順でランキングを付けております。ランキングに組み込めれば毎日の集客も見込めます。</div>
     </div>
     <div class="col-lg-4 effect-fade">
       <div class="user-icon"><i class="fas fa-question-circle"></i></div>
       <div class="top-letter mb-2">安心したサポート体制</div>
       <div>管理者へ気軽に問い合わせることが可能です。何かございましたらお気軽にお申し付けください。</div>
     </div>
   </div>
</div>
